if SHIELD_SOFLE_CHOC_ED_LEFT

config ZMK_KEYBOARD_NAME
    default "sofle_choc_ed"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SOFLE_CHOC_ED_LEFT

if SHIELD_SOFLE_CHOC_ED_LEFT || SHIELD_SOFLE_CHOC_ED_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SOFLE_CHOC_ED_LEFT || SHIELD_SOFLE_CHOC_ED_RIGHT
